body {
    background-color:darkslateblue;
}


@font-face {
    font-family:"altehaasgroteskbold" ;
    src: url('altehaasgroteskbold.woff') format('woff');
}

@font-face {
    font-family:"harmoniasansregular" ;
    src: url(harmoniasansregular.woff) format("woff");
}

h1 {
    font-family:"altehaasgroteskbold";
    color: white;
}

p {
    font-family:"harmoniasansregular";
    color: white;
}