body {
    background-color:#221088;
    padding-top: 70px;
}


@font-face {
    font-family:"alt" ;
    src: url('altehaasgroteskbold.woff') format('woff');
}

@font-face {
    font-family:"harm" ;
    src: url(harmoniasansregular.woff) format("woff");
}

.rec-header {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: red;
    font-family: "alt";
    font-size: 18px;
    padding: 15px 20px;
    z-index: 9999;
    backdrop-filter: blur(5px);
}

.dot {

    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    animation: blink 1s infinite;
}

@keyframes blink {

    50% {
        opacity: 0;
    }
}

div.title {
    font-family:"alt" ;
    color: #e6e6e6;
    font-size: 50px;
    text-transform: uppercase;
    margin-left: 562px;
    margin-top: 300px;
}
div.contents {
    font-family:"harm" ;
    color: #e6e6e6;
    font-size: 10px;
    line-height: 10px;
    margin-top: 100px;
}
    
div.box {
    font-family:"harm";
    color: #e6e6e6;
    font-size: 20px;
    line-height: 30px;
    margin-left: 100px;
    margin-top: 400px;
    font-style: italic;
    
}

div.container {
    display: flex;
    flex-wrap: wrap;

}

div.item {
    color: #e6e6e6;
    font-family:"harm";
    font-size: 20px;
    margin-left: 562px;
    text-transform: uppercase;
}

div.item1 {
    color: #e6e6e6;
    font-family:"harm";
    font-size: 20px;
    margin-left: 980px;
    text-transform: uppercase;
}

.eyeimg img {
    width: 8%;
    height: auto;
    margin-left: 350px;
    margin-top: 200px;
}

div.width25 {
    width:25%;
}

div.width75 {
    width:75%;
}